body{
  font-family: var(--font-principale), Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;;
  margin: 0;
  background: url("../../../images/bg-interet.jpg");

}



p{
  text-align: center;
}


img{
  width: 151px;
  height: 151px;
}


